{% extends "main.html"%}
{% include "header.html"%}
{% block content%}
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">You are <b>DELETING</b> the game {{game['name']}}</h5>
                        <form action="{{url_for('deleteCatalogItem', itemId=game['id'])}}" method="DELETE">
                            <span>Are you sure that you wanna contine?!</span>
                            <br>
                            <br>
                            <button type="submit" class="btn btn-success">Yes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
{% endblock%}