{% extends "main.html"%}
{% include "headerpublic.html"%}
{% block content%}
<br>
<main class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">You are log in right now, welcome!</h5>
                        <button class="btn btn-primary">Facebook</button>
                        <button class="btn btn-danger">Google+</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock%}