{% extends "main.html"%}
{% include "headerpublic.html"%}
{% block content%}
<br>
<div class="container">
    <div class="row">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                  {{message}}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        <div class="col-sm-2">
            <h2>{{category.title}}</h2>
        </div>
        <div class="col-sm-8">
            {% for item in items %}
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">{{item.title}}</div>
                        <div class="card-text">{{item.short_description}}</div>
                        <div class="card-text">{{item.long_description}}</div>
                        <a class="btn btn-primary" href="{{url_for('showCatalogItem', genreName=category.title, itemId=item.id)}}">Show more about this one</a>

                    </div>
                </div>
            </div>
            <br>
            {% endfor%}
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
{% endblock%}