{% extends "main.html"%}
{%include "headerpublic.html"%}
{% block content%}
<br>
<div class="container">
    <div class="row">
    <div class="col-sm-8">
        <h2>Categories</h2>
        {% for category in categories%}
        <div class="card-group">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">{{category.title}}</h5>
                <p class="card-text">{{category.description}}</p>
                <a class="btn btn-primary" href="{{url_for('showCatalogItems', categoryId=category.id)}}">See some games</a>
                </div>
            </div>
        </div>
        <br>
        {% endfor%}
    </div>
    <div class="col-sm-4">
            <h2>Last added games</h2>
            {% for game, category in items%}
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{category.title}}</h5>
                        <a class="" href="{{url_for('showCatalogItem', genreName=category.title, itemId=game.id)}}">{{game.title}}</a>
                                    
                    </div>
                </div>
            </div>
            <br>
            {% endfor%}
    </div>
</div>
</div>
{% endblock%}