{% extends "main.html"%}
{% include "headerpublic.html"%}
{% block content%}
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{game['name']}}</h5>
                        <div class="card-text">{{game['description']}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
{% endblock%}